<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer
               [attr.role]="(isHandset()) ? 'dialog' : 'navigation'" [hidden]="profileStore.isLoggedIn()"
               [mode]="(isHandset()) ? 'over' : 'side'"
               [opened]="!(isHandset())"
               class="sidenav"
               fixedInViewport>
    @if (profileStore.isLoggedIn()) {
      <app-menu></app-menu>
    }

  </mat-sidenav>
  <mat-sidenav-content>
    @if (isHandset() && profileStore.isLoggedIn()) {
      <mat-toolbar>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer?.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar>
    }
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
