<a
  [ngClass]="{'': invert(), 'dark:before:bg-light-pink lg:before:bg-light-pink lg:dark:before:bg-dark-pink': !invert()}"
  class="mt-8 relative flex h-11 w-full before:bg-dark-pink items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:transition before:duration-300 hover:before:scale-105 lg:mt-0 focus:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
  href="#">
  <span class="relative text-base font-semibold flex gap-2"><ng-content /></span>
</a>
